---
title: Página inicial
layout: default
---

{% for post in paginator.posts %}
    {% include post.html %}
{% endfor %}


<!-- Pagination links -->
<div class="box pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev" title="Página anterior">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next" title="Próxima página">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    {% endif %}
</div>

{% include page-footer.html %}