<aside class="user-profile fixed" role="complementary">
    <a href="{{ site.url }}{{ post.url }}">
        <!--<img class="avatar" src="{{ site.url }}">-->
        <strong class="my-name">SouNoob</strong>
    </a>
    <span class="my-job-title">Pego na tua mão e atravesso a rua.</span>
    <div class="mainmenu">
        <a href="/">Página inicial</a>
        <a href="/politica-de-privacidade">Política de Privacidade</a>
        <a href="/apoie-esta-causa">Apoie esta causa</a>
        <a href="/quem-somos">Quem somos</a>
        <a href="/contato/">Contato</a>
    </div>
    <p class="about-me">{{ site.description }}</p>
    <ul>
        <li>
            <a href="https://www.youtube.com/channel/UCd_UrKqEcJNl7SdelucKwrg/featured?view_as=subscriber" target="_blank" rel="nofollow noreferrer">
                <svg title="youtube" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-icons.svg#youtube-icon"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="http://facebook.com/sounoob" target="_blank" rel="nofollow noreferrer">
                <svg title="facebook" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-icons.svg#facebook-icon"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/+SounoobBr" target="_blank" rel="nofollow noreferrer">
                <svg title="Google +" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-icons.svg#google-plus-icon"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/contato/">
                <svg title="" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-icons.svg#email-icon"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/feed.xml">
                <svg title="" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-icons.svg#rss-icon"></use>
                </svg>
            </a>
        </li>
    </ul>
</aside>