<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-585d1710273a6291"></script>
<footer class="site-footer">
    <div class="copyright box">
        <i class="fa fa-copyright" aria-hidden="true"></i> Copyright {{site.title}} 2011-{{ site.time | date: '%Y' }} - Todos os direitos reservados aos respectivos autores. <br>
        Continuar navegando quer dizer que concorda com todas paradas que o redator escreveu em nossa <a href="./politica-de-privacidade" title="política de privacidade">política de privacidade</a>.
    </div>
</footer>