<footer class="site-footer">
    {% include ul.social-links.html %}
</footer>
{% if site.google_analytics %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
{% endif %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-585d1710273a6291"></script>