{% assign post = page %}
<div class="footer">
    <p>Publicado em: {{ post.date | date: site.dateformat }} por <a href="./author/{{ post.author | slugify }}">{{ post.author }}</a></p>
    {% if post.categories.size > 0 %}
        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
        <span class="screen-reader-text">Categorias </span>
        <span class="tag-list list-inline-comma">
            {% for category in post.categories %}
                <span><a href="category/{{ category | slugify }}" title="{{ category }}">{{ category }}</a></span>
            {% endfor %}
        </span>
    {% endif %}

    {% if post.tags.size > 0 %}
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span class="screen-reader-text">Tags </span>
        <span class="tag-list list-inline-comma">
            {% for tag in post.tags %}
                <span><a href="tag/{{ tag | slugify }}" title="{{ tag }}">{{ tag }}</a></span>
            {% endfor %}
        </span>
    {% endif %}
     <i class="fa fa-comment-o" aria-hidden="true"></i>
    <a href="{{ site.url }}{{ post.url }}#disqus_thread">Comentários</a>
</div>