<ul class="social-links">
  <li>
    <a href="http://facebook.com/sounoob.com.br" target="_blank">
      <i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i>
      <span class="screen-reader-text">Facebook</span>
    </a>
  </li>
  <li class="make-social-icon">
    <a href="https://plus.google.com/+SounoobBr" target="_blank">
      <i class="fa fa-fw fa-google-plus" aria-hidden="true"></i>
      <span class="screen-reader-text">Google Plus</span>
    </a>
  </li>
  <li class="make-social-icon">
    <a href="mailto:contato@sounoob.com.br">
      <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
      <span class="screen-reader-text">Email</span>
    </a>
  </li>
  <li class="make-social-icon">
    <a href="./feed.xml" target="_blank">
      <i class="fa fa-fw fa-rss" aria-hidden="true"></i>
      <span class="screen-reader-text">RSS</span>
    </a>
  </li>
</ul>
