p.gad:before {
  content: "Aqui deveria ter carregado uma propaganda marota...";
  position: absolute;
  left: 20px;
}
p.gad {
    background-color: $silver2;
  padding: 10px 0;
  position: relative;
}
.google-auto-placed.ap_container {
    margin-left: -3px;
}
.google-auto-placed.ap_container>ins>ins {
    border: 3px solid #00000045 !important;
    border-top-width: 4px !important;
    border-bottom-width: 7px !important;
}
