p.gad,
.google-auto-placed.ap_container {
    margin-left: -3px;
}
p.gad,
.google-auto-placed.ap_container>ins>ins {
    border: 3px solid $silver2 !important;
    border-top-width: 4px !important;
    border-bottom-width: 7px !important;
    opacity: 0.8 !important;
}
p.gad,
.google-auto-placed.ap_container>ins>ins:hover {
    opacity: 1 !important;
}
