.the-content .post .post-content .highlight .lineno {
    padding: 0 15px 0 0
}

.highlighter-rouge .the-content .post .post-content .highlight {
    background: #eef
}

.the-content .post .post-content .highlight .c {
    color: #998;
    font-style: italic
}

.the-content .post .post-content .highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.the-content .post .post-content .highlight .k {
    font-weight: bold
}

.the-content .post .post-content .highlight .o {
    font-weight: bold
}

.the-content .post .post-content .highlight .cm {
    color: #998;
    font-style: italic
}

.the-content .post .post-content .highlight .cp {
    color: #999;
    font-weight: bold
}

.the-content .post .post-content .highlight .c1 {
    color: #998;
    font-style: italic
}

.the-content .post .post-content .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.the-content .post .post-content .highlight .gd {
    color: #000;
    background-color: #fdd
}

.the-content .post .post-content .highlight .gd .x {
    color: #000;
    background-color: #faa
}

.the-content .post .post-content .highlight .ge {
    font-style: italic
}

.the-content .post .post-content .highlight .gr {
    color: #a00
}

.the-content .post .post-content .highlight .gh {
    color: #999
}

.the-content .post .post-content .highlight .gi {
    color: #000;
    background-color: #dfd
}

.the-content .post .post-content .highlight .gi .x {
    color: #000;
    background-color: #afa
}

.the-content .post .post-content .highlight .go {
    color: #888
}

.the-content .post .post-content .highlight .gp {
    color: #555
}

.the-content .post .post-content .highlight .gs {
    font-weight: bold
}

.the-content .post .post-content .highlight .gu {
    color: #aaa
}

.the-content .post .post-content .highlight .gt {
    color: #a00
}

.the-content .post .post-content .highlight .kc {
    font-weight: bold
}

.the-content .post .post-content .highlight .kd {
    font-weight: bold
}

.the-content .post .post-content .highlight .kp {
    font-weight: bold
}

.the-content .post .post-content .highlight .kr {
    font-weight: bold
}

.the-content .post .post-content .highlight .kt {
    color: #458;
    font-weight: bold
}

.the-content .post .post-content .highlight .m {
    color: #099
}

.the-content .post .post-content .highlight .s {
    color: #d14
}

.the-content .post .post-content .highlight .na {
    color: teal
}

.the-content .post .post-content .highlight .nb {
    color: #0086B3
}

.the-content .post .post-content .highlight .nc {
    color: #458;
    font-weight: bold
}

.the-content .post .post-content .highlight .no {
    color: teal
}

.the-content .post .post-content .highlight .ni {
    color: purple
}

.the-content .post .post-content .highlight .ne {
    color: #900;
    font-weight: bold
}

.the-content .post .post-content .highlight .nf {
    color: #900;
    font-weight: bold
}

.the-content .post .post-content .highlight .nn {
    color: #555
}

.the-content .post .post-content .highlight .nt {
    color: navy
}

.the-content .post .post-content .highlight .nv {
    color: teal
}

.the-content .post .post-content .highlight .ow {
    font-weight: bold
}

.the-content .post .post-content .highlight .w {
    color: #bbb
}

.the-content .post .post-content .highlight .mf {
    color: #099
}

.the-content .post .post-content .highlight .mh {
    color: #099
}

.the-content .post .post-content .highlight .mi {
    color: #099
}

.the-content .post .post-content .highlight .mo {
    color: #099
}

.the-content .post .post-content .highlight .sb {
    color: #d14
}

.the-content .post .post-content .highlight .sc {
    color: #d14
}

.the-content .post .post-content .highlight .sd {
    color: #d14
}

.the-content .post .post-content .highlight .s2 {
    color: #d14
}

.the-content .post .post-content .highlight .se {
    color: #d14
}

.the-content .post .post-content .highlight .sh {
    color: #d14
}

.the-content .post .post-content .highlight .si {
    color: #d14
}

.the-content .post .post-content .highlight .sx {
    color: #d14
}

.the-content .post .post-content .highlight .sr {
    color: #009926
}

.the-content .post .post-content .highlight .s1 {
    color: #d14
}

.the-content .post .post-content .highlight .ss {
    color: #990073
}

.the-content .post .post-content .highlight .bp {
    color: #999
}

.the-content .post .post-content .highlight .vc {
    color: teal
}

.the-content .post .post-content .highlight .vg {
    color: teal
}

.the-content .post .post-content .highlight .vi {
    color: teal
}

.the-content .post .post-content .highlight .il {
    color: #099
}


.the-content .post .post-content samp, .the-content .post .post-content code, .the-content .post .post-content kbd, .the-content .post .post-content pre {
    margin: 0;
    font-family: monospace;
}
.the-content .post .post-content ul li > code, .the-content .post .post-content ol li > code {
    font-size: 14px;
    padding: 3px 6px;
    background: #fcfcfc;
    border: 1px solid #eee
}

.the-content .post .post-content dl dd > code {
    font-size: 14px;
    padding: 3px 6px;
    background: #fcfcfc;
    border: 1px solid #eee
}
.the-content .post .post-content p > code {
    font-size: 14px;
    padding: 3px 6px;
    background: #fcfcfc;
    border: 1px solid #eee
}



pre {
    overflow: auto
}

.post-content .gutter {
    padding: 0
}

.post-content .gutter > pre {
    padding: 0
}

.post-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.post-content .highlight {
    margin-bottom: 1rem
}

.post-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
    border: none
}

.post-content .highlight pre, .post-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
    background-color: #F1F1F1;
}

.post-content pre code, .post-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.post-content pre code:before, .post-content pre code:after, .post-content pre tt:before, .post-content pre tt:after {
    content: normal
}
