* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $silver2;
}

a {
  color: $blue1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center-block {
  display: block;
  margin: auto;
}

ul.social-links {
  margin: 0;
}

ul.social-links li {
  float: left;
  list-style: none;
  margin: 0 3px;
}

input,
textarea {
  height: 2rem;
  background-color: #ffffff;
}

textarea {
  height: 10rem;
}

.btn,
input,
textarea {
  color: $silver3;
  padding: 0 1rem;
  border: 1px solid $silver3;
  border-radius: 0.3rem;
}

.btn {
  display: inline-block;
  background-color: $silver2;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  color: $silver1;
}

.btn:hover,
input:hover,
textarea:hover {
  border-color: $silver1;
  color: $silver1;
  text-decoration: none;
}

.btn:hover {
  background-color: $silver3;
}

.btn + .btn {
  margin-left: 1rem;
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }

  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.page-header {
  color: #fff;
  background-color: $silver1;
  height: 4em;
  margin-bottom: 1em;
}

.page-header .search {
  position: absolute;
  right: 8.9rem;
  top: 1.1rem;
}

#page-404 .search {
  display: flex;
}

#page-404 .search input {
  flex: 1;
}

.page-header .search input {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
  opacity: 0;
  width: 0;
}

.page-header .search:hover input {
  width: 20rem;
  opacity: 1;
}

.page-header .search button {
  background-color: transparent;
  border: none;
}

.page-header ul.social-links {
  position: absolute;
  right: 0.6rem;
  top: 1.2rem;
}

.page-header ul.social-links a {
  color: #ffffff;

}

.page-header .logo {
  color: #ffffff;
  font-size: 2.2rem;
  margin-left: 2rem;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;
}

.box {
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 7px 20px -4px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 6px 7px 20px -4px rgba(0, 0, 0, 0.64);
  box-shadow: 6px 7px 20px -4px rgba(0, 0, 0, 0.64);
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
}

.box h1,
.box h2,
.box h3,
.box h4,
.box h5 {
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.93);
}

.box:hover {
  -webkit-box-shadow: 6px 7px 20px 7px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 6px 7px 20px 7px rgba(0, 0, 0, 0.64);
  box-shadow: 6px 7px 20px 7px rgba(0, 0, 0, 0.64);
}
.main-content .box.post .reading-time {
  position: absolute;
  right: 2rem;
  top: 0.6rem;
  opacity: 0.2;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}
.main-content .box.post:hover .reading-time {
  opacity:1;
}
.main-content .post_image img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.64);
  box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.64);
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-duration: 1.5s;
  border: 1px solid transparent;
}
.main-content .post_image img:hover{
  border-color: $silver1;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.64);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.64);
}

.main-content .post {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.main-content .post .read-more {
  opacity: 0;
  float: right;
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-duration: 1.5s;
}

.main-content .post:hover .read-more {
  opacity: 1;
}

.main-content :first-child {
  margin-top: 0;
}

.main-content .post .footer {
  margin-top: 2rem;
  font-size: .8rem;
  position: relative;
}
.main-content .post .footer .fa {
  margin-left: .5rem;
}

.main-content .post .footer .fa-folder-open-o {
  margin-left: 0;
}

.list-inline-comma span {
  margin-right: 0.2rem;
}

.list-inline-comma span:after {
  content: ', ';
}

.list-inline-comma span:last-child:after {
  content: '';
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    margin: 0 auto;
  }

  .box {
    padding: 2rem 6rem;
  }

  .main-content .post {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .box {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  .box {
    padding: 2rem 1rem;
  }

  .main-content .post {
    font-size: 0.9rem;
    padding: 2rem 1rem;
  }
}

.main-content img {
  max-width: 100%;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

.main-content p {
  margin-bottom: 1em;
}

.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}

.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}

.main-content .gutter {
  padding: 0;
}

.main-content .gutter > pre {
  padding: 0;

}

.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.main-content .highlight {
  margin-bottom: 1rem;
}

.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
  border: none;
}

.main-content .highlight pre,
.main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
  -webkit-overflow-scrolling: touch;
}

.main-content pre code,
.main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.main-content pre code:before, .main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
  content: normal;
}

.main-content ul,
.main-content ol {
  margin-top: 0;
}

.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
  margin-top: 0;
}

.main-content blockquote > :last-child {
  margin-bottom: 0;
}

.highlight table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}

.highlight table th {
  font-weight: bold;
}

.highlight table th,
.highlight table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

.highlight dl {
  padding: 0;
}

.highlight dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.highlight dl dd {
  padding: 0;
  margin-bottom: 1rem;
}

.highlight hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px rgba(175, 175, 175, 0.15);
}

.site-footer .copyright {
  text-align: center;
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 0.91rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.84rem;
  }
}

.screen-reader-text {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  width: 1px;
  height: 1px;
}

.pagination {
  position: relative;
}

.pagination .prev,
.pagination .next {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: $silver1;
  width: 5rem;
  text-align: center;
  color: #ffffff;
  font-size: 2.7rem;
}

.pagination .prev {
  left: 0;
}

.pagination .next {
  right: 0;
}

.addthis_inline_share_toolbox {
  text-align: right;
}

.tag-list .box:first-child {
  display: none;
}

.contact-form .form-group {
  padding: .5rem 1rem;
}