---
layout: default
---
<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
<p class="meta">{{ post.date | date: site.dateformat }}</p>
    <div class='shareaholic-canvas' data-app-id='6427501' data-app='share_buttons' data-title='{{ post.title }}' data-link='{{ post.url }}' data-summary=''></div>
{{ content }}
<div class='shareaholic-canvas end' data-app-id='6427501' data-app='share_buttons' data-title='{{ post.title }}' data-link='{{ post.url }}' data-summary=''></div>

{% if site.comments %}
<script>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "{{ site.url }}{{ page.url }}";
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//sounoob.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
{% endif %}
